<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Task_Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Task_Timer.Properties.Settings>
            <setting name="WorkHours" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Countdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuittingTimeMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeDisplayDecimal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OffsetRight" serializeAs="String">
                <value>130</value>
            </setting>
            <setting name="QuittingTimeMessageText" serializeAs="String">
                <value>Mache Dich heeme, Meiner!</value>
            </setting>
            <setting name="AutoHideOffset" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultTasks" serializeAs="String">
                <value>Sonstiges</value>
            </setting>
            <setting name="AutoHide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StorageLocation" serializeAs="String">
                <value>C:\Temp\Task Timer</value>
            </setting>
            <setting name="Experimental" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CopyOnTrayClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenBATTOnTrayClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBATTTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveOnStop" serializeAs="String">
                <value>False</value>
            </setting>
        </Task_Timer.Properties.Settings>
    </userSettings>
</configuration>